


.formHolder {
	padding: 20px 0px;
  }
  

button.waves-effect.waves-light.btn.right {
	margin: 20px 0px;
  }
  
  textarea {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #9e9e9e;
	border-radius: 0;
	outline: none;
	height: 3rem;
	width: 100%;
	font-size: 16px;
	margin: 0 0 8px 0;
	padding: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-transition: border .3s, -webkit-box-shadow .3s;
	transition: border .3s, -webkit-box-shadow .3s;
	transition: box-shadow .3s, border .3s;
	transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  }
  
  
  .contacts .container {
	margin: 30px auto;
  }
  .contacts-title {
	margin: 40px auto !important;
  }